header {
    font-family: Verdana;
    font-size: 14px;
    font-weight: bold;
    color: mediumaquamarine;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid black;
    background-color: white;
}

nav span {
    display: inline-block;
    padding: 20px 10px;
}
.logo {
    width: 70px;
    height: 60px;
    flex-grow: 1;
    padding-left: 30px;
    display: flex;
    align-items: center;
}
header nav{
    padding-right: 40px;
}
a {
    color: black;
}


.content{
    display: flex;
    padding-top: 100px;
    align-items: flex-start;;
    justify-content: space-between;
    margin: auto;
}


.column.large {
    width: 630px;
}
.column.middle {
    width: 300px;
}
.column.small {
    width: 240px;
    flex-direction
}
.column{
    display: flex;
    flex-direction: column;
}
.lead.image{
    background-image: url("img-story-main.png")
}
.img.research{
    background-image: url("img-story-3.png")
}
.img.earth {
    background-image: url("img-story-2.png")
}
.cat.image{
    background-image: url("img-story-1.png")
}
.img, .lead.image, .cat.image{
    display: flex;
    flex: 1 1 300px;
    min-height: 300px;
}
span{
    display: flex;
    font-family: Georgia;
    font-weight: bold;
    font-size: 30px;
}
.narative {
     font-family: Georgia;
  font-size: 17px;
  color: black;
}
.lead.story .narative{
    font-size: 30px;
}
.stories {
    display: flex;
    flex-direction: row;
}
.tit{
    color: white;
    justify-content: center;
    flex-direction: row;
}
.newsbites{
    font-size: 16px;
    font-weight: bold;
}
.bite{
    background-color: Whitesmoke;
    font-family:verdana;
    font-size: 12px;
    color: dimgray;
    margin: 0;
    border-bottom: 1px solid black;
    padding: 10px;
}
h3 {
    text-align: center;
    width: auto;
}

footer {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 325px;
    background-color: MediumAquamarine;
    margin: auto;
    font-family: Verdana;
    font-size: 12px;
}
}